// set custom hex colors 
$siteBgColorCustom: #d5dfd6;
$sidebarBgColorCustom: #d5dfd6;
$textColorCustom: #24762a;
$sidebarTextColorCustom: #24762a;
$headlineColorCustom: #05630F;
$headingColorCustom: #05630F;
$bodyLinkColorCustom: #1a5276;
$navLinkColorCustom: #1a5276;
$sidebarLinkColorCustom: #1a5276;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #2980b9;
$buttonHoverTextColorCustom: #2980b9;
$buttonBgColorCustom: #05630F;
$buttonHoverBgColorCustom: #1a5276;
$borderColorCustom: #d5dfd6;
####e2ede3